!!! 5
%html
  %head
    %link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto")
    %script(src="bower_components/platform/platform.js")
    %link(rel="import" href="bower_components/core-header-panel/core-header-panel.html")
    %link(rel="import" href="bower_components/core-toolbar/core-toolbar.html")
    %link(rel="import" href="polymer_components/quests.html")
    :css
      body {
        font-family: 'Roboto', sans-serif;
      }
      core-toolbar {
        background-color: #795548;
        color: white;
      }
      core-header-panel {
        height: 400px;
      }
      .content {
        margin-top: 8px;
        margin-left: 16px;
      }
  %body(fullbleed unresolved)
    %core-header-panel
      %core-toolbar
        %span(flex) dailyQuest
      %div.content
        %dq-quests
    %script(src="index.js")
