!!! 5

%link(rel="import" href="../bower_components/polymer/polymer.html")
%link(rel="import" href="../bower_components/core-ajax/core-ajax.html")
%link(rel="import" href="../bower_components/core-item/core-item.html")
%link(rel="import" href="../bower_components/paper-button/paper-button.html")
%link(rel="import" href="../bower_components/paper-input/paper-input.html")
-#%link(rel="import" href="../bower_components/paper-toast/paper-toast.html")

%polymer-element(name="quest-item" attributes="quest" noscript)
  %template
    %core-item(label="{{quest.name}}")

%polymer-element(name="dq-quests")
  %template
    %core-ajax#x(auto url="../quest" handleAs="json")
    %template(repeat="{{quest in $.x.response}}")
      %quest-item(quest="{{quest}}")
    %paper-button(label="Add Quest" raisedButton on-click="{{addQuest}}")
  :coffeescript
    Polymer 'dq-quests',
      addQuest: -> location.hash = "create"

%polymer-element(name="dq-create")
  %template
    %core-ajax#x(url="../quest" method="POST" contentType="application/json" handleAs="json" on-core-complete="{{redirect}}")
    %paper-input#name(label="Quest Title" value="{{name}}")
    %paper-button(label="Create" raisedButton on-click="{{createQuest}}")
    -#%paper-toast#toast(text="Quest created.")
  :coffeescript
    Polymer 'dq-create',
      createQuest: -> 
        q = {name: @$.name.value}
        @$.x.body = JSON.stringify(q)
        @$.x.go()
      redirect: -> location.hash = ""
