!!! 5

%link(rel="import" href="../bower_components/polymer/polymer.html")
%link(rel="import" href="../bower_components/core-ajax/core-ajax.html")
%link(rel="import" href="../bower_components/core-item/core-item.html")

%polymer-element(name="dq-quests")
  %template
    %core-ajax(auto
               url="/quests"
               handleAs="json"
               on-core-response="{{questsReceived}}")
    %template(repeat="{{quest in quests}}")
      %core-item(label="{{quest.name}}")
  :coffeescript
    Polymer 'dq-quests',
      questsReceived: (q) ->
        @quests = q.detail.response
