!!! 5

%link(rel="import" href="../bower_components/polymer/polymer.html")

%link(rel="import" href="../bower_components/iron-ajax/iron-ajax.html")
%link(rel="import" href="../bower_components/paper-item/paper-item.html")
%link(rel="import" href="../bower_components/paper-button/paper-button.html")
%link(rel="import" href="../bower_components/paper-input/paper-input.html")
-#%link(rel="import" href="../bower_components/paper-toast/paper-toast.html")

%dom-module#quest-item
  %template
    %paper-item {{quest.name}}
  :coffeescript
    Polymer(
      is: 'quest-item'
      properties:
        quest: Object
    )

%dom-module#dq-quests
  %template
    %iron-ajax(auto url="../quest" handle-as="json" last-response="{{_quests}}")
    %template(is="dom-repeat" items="[[_quests]]")
      %quest-item(quest="[[item]]")
    %paper-button(raised on-click="addQuest") Add Quest
  :coffeescript
    Polymer(
      is: 'dq-quests'
      properties:
        _quests: Array
      addQuest: -> location.hash = "create"
    )

%dom-module#dq-create
  %template
    %iron-ajax#x(url="../quest" method="POST" content-type="application/json" handle-as="json" on-response="redirect")
    %paper-input#name(label="Quest Title" value="{{name}}")
    %paper-button(raised on-click="createQuest") Create
    -#%paper-toast#toast(text="Quest created.")
  :coffeescript
    Polymer(
      is: 'dq-create'
      createQuest: ->
        @$.x.body = {name: @$.name.value}
        @$.x.generateRequest()
      redirect: -> location.hash = ""
    )
